@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;500;600;700&display=swap');
/*====== ROOT VARIABLES PAGE ======*/
:root{
    --darkMarine: #06283D;
    --lowMarine: #256D85;
    --blueMarine: #47B5FF;
    --lightMarine: #DFF6FF;
    --whiteMarine: #FFFFFF;

    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

    --scroll-bar-color: #FFF;
    --scroll-thumb-color: #282F4E;
    --scroll-thumb-hover-color: #256D85;
}
/*====== SCROLL BAR ======*/
::-webkit-scrollbar{
    width: 11px;
    background: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb{
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}

/*====== MAIN CSS ======*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* section{
    position: relative;
} */
.section{
    color: var(--lightMarine);
    background: var(--darkMarine);
    padding: 35px 200px;
    /* transition: 0.3s ease; */
}
/* ====== HEADER ====== */

header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* transition: 0.5s ease; */
    /* transition-property: height, background; */
}
header.sticky{
    height: calc(2.5rem + 1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .nav-bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    /* transition: 0.3s ease; */
}
.nav-close-btn,
.nav-menu-btn{
    display: none;
}
.nav-bar .logo {
    color: var(--lightMarine);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}
.navigation .nav-items a {
    color: var(--lightMarine);
    font-size: 1em;
    text-decoration: none;
    text-shadow:var(--text-shadow);
}
.navigation .nav-items a i{
    display: none;
}
.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}
.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    /* transition: .5s; */
}
.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}
/*====== HOME ====== */
.home{
    min-height: 100vh;
}
/*====== BACKGROUND SLIDER ====== */
.bg-slider{
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.bg-slider .swiper-slide{
    position: relative;
    width: 100%;
    height: 100vh;
}
.bg-slider .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}
.swiper-slide .text-content{
    position: absolute;
    top: 25%;
    color: var(--darkMarine);
    margin: 0 200px;
    /* transition: 0.3s ease; */
}
.swiper-slide .text-content .title{
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}
.swiper-slide-active .text-content .title{
    transform: translateY(0);
    opacity: 1;
    /* transition: 1s ease; */
    /* transition-delay: 0.3s; */
    /* transition-property: transform, opacity; */
}
.swiper-slide .text-content .title span{
    font-size: 0.3em;
    font-weight: 300;
}
.swiper-slide .text-content p{
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}
.swiper-slide-active .text-content p{
    transform: translateX(0);
    opacity: 1;
    /* transition: 1s ease; */
    /* transition-delay: 0.3s ease; */
    /* transition-property: transform, opacity; */
}
/*====== ABOUT ======*/
.about h2{
    font-size: 3em;
    font-weight: 600;
}
.about p{
    margin: 25px 0;
}

/*====== POPUP LOGIN-REGISTER ======*/
/* .sections{
    min-height: 100vh;
} */
.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border-left: 2px solid rgba(255, 255, 255, .1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}
.wrapper.active-popup{
    opacity: 1;
    pointer-events: all;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}
.close i{
    font-size: 32px;
    color: var(--lowMarine);
}
.wrapper .logreg-box{
    width: 100%;
}
.wrapper .form-box.login{
    display: block;
}
.wrapper.active .form-box.login{
    display: none;
}
.wrapper .form-box.register{
    display: none;
}
.wrapper.active .form-box.register{
    display: block;
}
.logreg-box .logreg-title{
    text-align: center;
    margin-bottom: 40px;
    color: var(--lightMarine);
}
.logreg-title h2{
    font-size: 32px;
}
.logreg-title p{
    font-size: 14px;
    font-weight: 500;
}
.logreg-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid #FFFFFF;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--lightMarine);
    font-weight: 500;
    padding-right: 25px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--lightMarine);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:focus~label{
    top: -5px;
}
.logreg-box .remember-forgot{
    font-size: 14.5px;
    color: var(--lightMarine);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    align-content: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: var(--lightMarine);
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.logreg-box .btn{
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 16px;
    color: var(--darkMarine);
    font-weight: 600;
    transition:  .3s;
}
.logreg-box .btn:hover{
    color: var(--scroll-bar-color);
    background: var(--darkMarine);
}
.logreg-box .logreg-link{
    font-size: 14.5px;
    color: var(--lightMarine);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
}
.logreg-link p a{
    color: var(--lightMarine);
    text-decoration: none;
    font-weight: 600;
}
.logreg-link p a:hover{
    text-decoration: underline;
}
.media-options{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.media-options a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #FFFFFF;
    margin: 10px 0;
    box-shadow: var(--box-shadow);
    border-radius: 40px;
    color: var(--lightMarine);
    text-decoration: none;
}
.media-options a:hover{
    background: var(--lowMarine);
}
.media-options a i{
    font-size: 22px;
    margin: 0 8px 1.5px 0;
}
.media-options a span{
    font-size: 16px;
    font-weight: 600;
}


/* ====== MEDIA RESPONSIVE ====== */
@media screen and (max-width: 1100px){
    header .nav-bar{
        padding: 0 40px;
    }
    .section{
        padding: 25px 50px;
    }
    .swiper-slide .text-content{
        margin: 0 120px 0 50px;
    }
}

@media screen and (max-width: 785px) {
    header .nav-bar{
        padding: 25px 20px;
    }
    .section{
        padding: 25px 20px;
    }
    .swiper-slide .text-content{
        margin: 0 70px 0 2px;
    }
    .swiper-slide .text-content .title{
        font-size: 3em;
    }
    .swiper-slide .text-content .title span{
        font-size: 0.35em;
    }
    .swiper-slide .text-content p{
        font-size: 0.9em;
    }
    /* ====== NAVIGATION MENU ====== */
    .nav-menu-btn{
        display: block;
        color: var(--lightMarine);
        font-size: 1.5em;
        cursor: pointer;
    }
    .nav-close-btn{
        display: block;
        color: var(--darkMarine);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
        /* transition: 0.3s ease; */
    }
    .navigation{
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        /* transition: 0.3s ease; */
    }
    .navigation.active{
        visibility: visible;
        opacity: 1;
    }
    .navigation .nav-items{
        position: relative;
        background: var(--whiteMarine);
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-200px);
        /* transition: 0.3s ease; */
    }
    .navigation.active .nav-items{
        transform: translateY(0);
    }
    .navigation .nav-items button{
        border: 2px solid var(--darkMarine);
    }
    .navigation .nav-items a,
    .navigation .nav-items button{
        color: var(--darkMarine);
        font-size: 1em;
        margin: 15px 50px;
        /* transition: 0.3s ease; */
    }
    .navigation .nav-items a:hover{
        color: var(--lowMarine);
    }
    .navigation .nav-items a i{
        display: inline-block;
        font-size: 1.3em;
        margin-right: 5px;
    }
    .about h2{
        font-size: 2.5em;
    }
    .about p{
        font-size: 0.9em;
    }
}

